body{
	background: #000000;
	font-family: Courier;
	font-weight: normal;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
    user-select: none;          /* Standard syntax */
}

header{
	background: green;
	position: sticky;
	z-index: 3;
	top: 0;
	font-family: Courier;
	font-weight: normal;
}

.img1{
	margin-right: 270PX;
}

.center{
	width: 90%;
	text-align:  left;
	margin-trim: 30px;
	padding: 20px;
}

ul{
	list-style: none;
	margin: 0;
}

a{
	font-size: 30px;
	padding: 30px;
	color: white;
	text-decoration: none;
}

a:hover{
	color: #0a3206;
	text-decoration: none;
}

.opg:hover{
	color: green;
}

li{
	display: inline;
	margin: 30px;
}